.gradient-custom-2 {
    /* fallback for old browsers */
   
    
    /* Chrome 10-25, Safari 5.1-6 */
   
    }
    /* .LoginConatain{
        background-image: url("../assets/images/bussiness/bussi2023.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    } */
    .emoji{
        color: #FF7C03;
    }