.firstLetter{
    color:#FF7C03;
}
.logoName{
    font-size:25px !important;
    font-weight:bolder !important;
}

.linksMenu{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    color: black !important;
    margin-left: 130px;
}
.linksWords{
    margin-right: 30px;

}
.submissionButton {
    background-color: #42B6D3;
    color: white;
    border-radius: 13px;
    margin-left: 5px;
    height: 20px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}
.submissionSign{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    margin-right:30px;
}
.userprofile{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-right:15px;
}
.DropLogout{
    background: -webkit-linear-gradient(to right, #2362e9, #13619d, #369ddd, #45a0b4)
    !important;
    border: none;
    border-radius: 10px;
}

/* header */
